/* these minimize the cols 
   and hide appropriate elements */
.list-wrapper.collared {
  width: 40px;
  overflow: hidden
}
.collared .list-header {
  height: 15px;
  min-height: 15px;
  overflow: hidden
}
.collared .list-cards, 
.collared textarea,
.collared .open-card-composer,
.collared .list-header-extras-menu {
  visibility: hidden;
  overflow: hidden
}
/* the button */
.collar-button {
  border-radius: 3px;
  color: #6b778c;
  cursor: pointer;
  float: left;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  padding: 6px;
  width: 20px;
}
.collar-button:hover {
  background: rgba(9,30,66,.08);
  color: #172b4d;
  border-radius: 3px;
}
.collar-button::before {
  content: "⇠";
}
.collared .collar-button {
  margin-left: 4px;
}
.collared .collar-button::before {
  content: "⇢";
}
/* button affordance */
textarea.list-header-name {
  width: 90%;
}
